# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/VentaApp/nbproject/private/
/Sem01/VentaApp/build/
/Sem02/VentaApp/nbproject/private/
/Sem02/VentaApp/build/
/Sem02/VentaApp/dist/
/Sem04/DemoCombo/nbproject/private/
/Sem04/DemoCombo/build/
/Sem05/VentaCarlosSoto/nbproject/private/
/Sem05/VentaCarlosSoto/build/
/Sem05/ProgramandoAndo/nbproject/private/
/Sem05/ProgramandoAndo/build/
/Sem05/VentaCarlosSoto2/nbproject/private/
/Sem05/ProgramandoAndo - copia/build/
/Sem05/ProgramandoAndo - copia/nbproject/private/
/Sem05/ProgramandoAndo2/build/
/Sem05/ProgramandoAndo2/nbproject/private/
/Sem06/PedidoApp/nbproject/private/
/Sem06/PedidoApp/build/